<!DOCTYPE html>
<html>
<body>
<h1>signin</h1>
<form method = "POST" action='/authenticateUser'>
	<label for="user">Email:</label><br>
	<input type="email" id="user" name = "user"><br>
	<label for="password">Password:</label><br>
	<input id = "password" name = "password"><br>
	<button type="submit">submit</button>
</form>
</body>
</html>